<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genenakagaki.myhandycoach">

    <application
        android:name="com.genenakagaki.myhandycoach.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.genenakagaki.myhandycoach.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.genenakagaki.myhandycoach.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:parentActivityName="com.genenakagaki.myhandycoach.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genenakagaki.myhandycoach.MainActivity" />
        </activity>
        <activity
            android:name="com.genenakagaki.myhandycoach.ExerciseChooserActivity"
            android:label="@string/title_activity_exercise_chooser"
            android:parentActivityName="com.genenakagaki.myhandycoach.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.genenakagaki.myhandycoach.MainActivity" />
        </activity>

        <receiver android:name=".widget.GoalAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/goal_appwidget_info" />
        </receiver>

        <!-- Content Provider -->
        <provider
            android:name="com.genenakagaki.myhandycoach.data.ExerciseProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />


    </application>

</manifest>